<body>
    <app-navbar></app-navbar>
    <main role="main" class="container mt-5">
        <div class="container">
          
            <!-- <button type="button" class="btn btn-primary" (click)="onSubmit()">Show Results</button> -->
            <!-- https://us3.ca.analytics.ibm.com/bi/?perspective=dashboard&pathRef=.my_folders%2FHeart%2BDisease%2BDashboard%2B01&action=view&mode=dashboard&subView=model00000183db346a54_00000002 -->
            <!-- <iframe src="https://us3.ca.analytics.ibm.com/bi/?perspective=dashboard&amp;pathRef=.my_folders%2FHeart%2BDisease%2BDashboard%2B01&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;mode=dashboard&amp;subView=model00000183db346a54_00000002" width="320" height="200" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe> -->
            <!-- <img [src]="imageToShow" alt="Prediction Image" *ngIf="isImageLoading"> -->
            
        </div>
    </main>    
    </body>
